<form action="/course" method="POST">
    <p>
        <label>Course Name</label><input value="" name"courseName" />
        <label>Course Duration</label><input value="" name"courseDuration" />
        <label>Course Fees</label><input value="" name"courseFees" />
        <button type="submit">add course</button>
    </p>
</form>